// This file is just an example because resource files are not compiled into static libraries.
// In any project that wants to include shaders as resources, create a file like this one and
// list the shaders to be included.
GPU_RADIX_SORT_HLSL     TEXT    DISCARDABLE     "pr/view3d-12/compute/hlsl/gpu_radix_sort.hlsl"
GPU_GRID_PARTITION_HLSL TEXT    DISCARDABLE     "src/hlsl/grid_partition.hlsl"