@page
@model rylogic.co.nz.Pages.RyLogViewer.RyLogViewerModel
@{
    ViewData["Title"] = "RyLogViewer";
}

<div>
<img class="feature-graphics" src="~/images/rylogviewer/screen-shot-0.png" alt="RyLogViewer Feature Graphics">
    </div>

<div>
<h3>RyLogViewer</h3>
<p>
    Tool for viewing/searching extremely large log files.
</p>
    </div>

<div class="features">
    <h3>Key Features</h3>
    <ul>
        <li>(todo)</li>
    </ul>
</div>

<div class="download_buttons">
    <a href="@Model.DownloadUrl">
        <b>Download Now</b>
        <p>@Model.DownloadFile (@Model.DownloadSize)</p>
    </a>
</div>

<div>
    <p>For source code, check out my <a href="https://github.com/psryland/rylogic_code/tree/main/projects/apps/RyLogViewer-old">GitHub Repository</a></p>
</div>
