@page
@model www.Pages.RyLogViewer.RyLogViewerModel
@{
    ViewData["Title"] = "RyLogViewer";
}

<img class="feature-graphics" src="~/images/rylogviewer/screen-shot-0.png" alt="RyLogViewer Feature Graphics">

<h3>RyLogViewer</h3>
<p>
    Tool for viewing/searching extremely large log files.
</p>

<div class="features">
    <h3>Key Features</h3>
    <ul>
        <li>.</li>
    </ul>
</div>

<div class="download_buttons">
    <a href="~/files/rylogviewer/RyLogViewerInstaller_v1.0.2.msi" class="button">Download Now</a>
    <span>RyLogViewerInstaller_v1.0.2.msi (@Model.DownloadSize) </span>
</div>
