@page
@model rylogic.co.nz.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h5>Contact Us</h5>
<p>
    <ul>
        <li><strong>Email:</strong> support@rylogic.co.nz</li>
        <li><strong>Website:</strong> <a href="https://www.rylogic.co.nz">www.rylogic.co.nz</a></li>
    </ul>
</p>
