# syntax: shell style pattern match, other option is regexp
syntax: glob
*.lib
*.dll
*.mdb
*.pdb
*.exe
*.pp
*.i
*.log
*.pidb
*.ipch
*.ncb
*.aps
*.opensdf
*.sdf
*.suo
*.user
*.orig
*.userprefs
*.vssettings
*.DotSettings
*.pyc
*.algo
dump/
obj/
bin/
lib/
dist/
built/
Debug/
Release/
.vs/
.git/
.idea/
.metadata/
.nuget/
__pycache__/
packages/
TestResults/
media/
thirdparty/
symbol_cache/
script/UserVars.py
