# syntax: shell style pattern match, other option is regexp
syntax: glob
*.lib
*.dll
*.mdb
*.pdb
*.exe
*.pp
*.i
*.log
*.db
*.pidb
*.ipch
*.ncb
*.aps
*.opensdf
*.sdf
*.suo
*.user
*.orig
*.userprefs
*.vssettings
*.DotSettings
*.pyc
*.algo
*.blend1
dump/
obj/
bin/
lib/
dist/
built/
Debug/
Release/
.vs/
.vscode/
.hg/
.git/
.svn/
.metadata/
.nuget/
__pycache__/
node_modules/
packages/
TestResults/
media/
thirdparty/
symbol_cache/

**/hlsl/compiled/*
**/RyLogViewer/Resources/*.html
**/RyLogViewer/docs/*.html
**/Rylobot/net/Data/*
**/Rylobot/net/Model/*

tools/wix/*
!tools/wix/_get_wix.py
tools/HxD/HxD.ini
tools/GrepWin/grepwin.ini

javascript/lib/
javascript/*/dist/
typescript/**/out/*

script/UserVars.py
RylogicRB.sln

#usused   res/*.html
#usused   build/*.ldr
#usused   *Sample*
#usused   *ReSharper*
#usused   dlang/*
#usused   ResEdit.layout
#usused   tools/Compressonator/
#usused   tools/ResEdit/ResEdit.xml
#usused   projects/vs2012/pr_applog.log
#usused   $RECYCLE.BIN*