<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <packageSources>
    <add key="RylogicLocal" value="E:\Rylogic\Code\lib\packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
  <!--
  <packageSources>
    <clear />
    <add key="RylogicFeed" value="https://pkgs.dev.azure.com/rylogic/Code/_packaging/RylogicFeed/nuget/v3/index.json" />
  </packageSources>
  -->
