<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <!--
  <packageSources>
    <clear />
    <add key="RylogicFeed" value="https://pkgs.dev.azure.com/rylogic/Code/_packaging/RylogicFeed/nuget/v3/index.json" />
  </packageSources>
  -->
</configuration>
