// Shader source files for runtime compilation
DISTANT_OCEAN_CBUF_HLSLI TEXT    DISCARDABLE     "src/world/ocean/shaders/distant_ocean_cbuf.hlsli"
DISTANT_OCEAN_HLSL       TEXT    DISCARDABLE     "src/world/ocean/shaders/distant_ocean.hlsl"
