// Shader source files for runtime compilation
PROCEDURAL_SKY_CBUF_HLSLI TEXT    DISCARDABLE     "src/world/sky/shaders/procedural_sky_cbuf.hlsli"
PROCEDURAL_SKY_HLSL       TEXT    DISCARDABLE     "src/world/sky/shaders/procedural_sky.hlsl"
