*.iml
.gradle
local.properties
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx

# Ignore files from the fluidsynth project.
# These are copied into the project but the project setup script
/app/src/main/jniLibs
/app/src/main/cpp/fluidsynth/
/app/src/main/cpp/fluidsynth.h
