// This file is just an example because resource files are not compiled into static libraries.
// In any project that wants to include shaders as resources, create a file like this one and
// list the shaders to be included.
// Remember to add 'pr/include' to the resource compiler's include path.

CORE_HLSLI                 TEXT    DISCARDABLE     "pr/hlsl/core.hlsli"
VECTOR_HLSLI               TEXT    DISCARDABLE     "pr/hlsl/vector.hlsli"
SPATIAL_ALGEBRA_HLSLI      TEXT    DISCARDABLE     "pr/hlsl/spatial_algebra.hlsli"
PHYSICS_INTEGRATE_HLSL     TEXT    DISCARDABLE     "pr/physics-2/compute/integrate.hlsl"
PHYSICS_GJK_HLSL           TEXT    DISCARDABLE     "pr/physics-2/compute/gjk.hlsl"
RADIX_SORT_HLSL            TEXT    DISCARDABLE     "pr/view3d-12/compute/radix_sort/radix_sort.hlsl"

