@page
@model rylogic.co.nz.Pages.LDraw.LDrawModel
@{
    ViewData["Title"] = "LDraw";
}

<div>
    <img class="feature-graphics" src="~/images/ldraw/screen-shot-0.png" alt="LDraw Feature Graphics">
</div>

<div>
    <h3>LDraw</h3>
    <p class="one-liner-description">
        3D Visualisation aid based on scenes described using scripts.
    </p>
</div>

<div class="features">
    <h3>Key Features:</h3>
    <ul>
        <li>Describe a scene using a simple recursive declarative script</li>
        <li>C-style preprocessor macro support</li>
        <li>Small, but performant, DirectX 11 renderer</li>
        <li>A variety camera and lighting tools</li>
        <li>Orthographic and Perspective projection supported</li>
        <li>3D measurement tool</li>
    </ul>
</div>

<div class="download_buttons">
    <a href=@Model.DownloadUrl>
        <b>Download Now</b>
        <p>@Model.DownloadFile (@Model.DownloadSize)</p>
    </a>
</div>

<div>
    <p>
        For source code, check out my <a href="https://github.com/psryland/rylogic_code/tree/main/projects/apps/LDraw/LDraw">GitHub Repository</a>
    </p>
</div>
