@page
@model www.Pages.LDraw.LDrawModel
@{
    ViewData["Title"] = "LDraw";
}

<img class="feature-graphics" src="~/images/ldraw/screen-shot-0.png" alt="All Keys Feature Graphics">

<h3>LDraw</h3>
<p>
    3D Visualisation aid based on scenes described using scripts.
</p>

<div class="features">
    <h3>Key Features:</h3>
    <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <!-- Add more features as needed -->
    </ul>
</div>

<div class="download_buttons">
    <a href="~/files/ldraw/LDrawInstaller_v6.3.2.msi" class="button">Download Now</a>
    <span>LDrawInstaller_v6.3.2.msi</span>
</div>