*
{
	font-family: sans-serif;
	font-size: 100%;
	font-weight: normal;
}

body
{
}

table
{
	border: 1px solid black;
	border-collapse: collapse;
}

th
{
	border: 1px solid black;
	border-collapse: collapse;
}

td
{
	border: 1px solid black;
	border-collapse: collapse;
}

p
{
	margin: 0px;
}

b
{
	font-weight: bolder;
}

img.centred
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

img.right_inset
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	float: right;
}

#main_help
{
	background: url(background.png) no-repeat;
}

#title_panel
{
	margin: 10px;
	margin-bottom: 20px;
}

	#title_panel img
	{
		margin-right: 20px;
		vertical-align: text-bottom;
		margin-bottom: -10px;
	}

	#title_panel span
	{
		font-size: 180%;
		font-weight: bold;
		margin-bottom: 20px;
	}

#index_panel
{
	float: left;
	border: solid 1px black;
	vertical-align: top;
	padding: 10px;
}

#content_panel
{
	float: left;
	vertical-align: top;
	padding: 10px;
	width: 600px;
	min-height: 821px;
}

.menu1
{
	font-weight: bold;
	line-height: 180%;
}

.menu2
{
	font-size: 90%;
	margin-left: 20px;
}

#details
{
	border: 0px;
}

.title
{
	font-size: 150%;
	font-weight: bold;
	color: #000080;
	margin-bottom: 10px;
}

.fine_print
{
	font-size: 8pt;
}

.section_title
{
	line-height: 150%;
	font-weight: bold;
	font-style: italic;
	font-size: 120%;
}

.tag_label
{
	line-height: 150%;
	font-weight: bold;
	font-style: italic;
}

.content
{
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.highlight
{
	background-color: #E0FFE0;
}

.child_list_elem
{
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.code
{
	font-family: monospace;
	font-size: 100%;
	font-weight: 600;
	margin: 10px;
}

.mono
{
	font-family: monospace;
}

.links
{
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
}

.minor_list
{
	font-size: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

	.minor_list th
	{
		border: 1px dotted;
		border-collapse: collapse;
		font-weight: bold;
		font-style: italic;
		padding: 3px;
		min-width: 100px;
		max-width: 400px;
		word-wrap: break-word;
	}

	.minor_list td
	{
		border: 1px dotted;
		border-collapse: collapse;
		text-align: left;
		margin: 5px;
		padding: 3px;
		min-width: 100px;
		max-width: 400px;
		word-wrap: break-word;
	}

	.minor_list li
	{
		margin: 5px;
	}

.free_feature
{
	color: #009000;
	font-size: 80%;
}

.limited_feature
{
	color: #0080C0;
	font-size: 80%;
}

.licensed_feature
{
	color: #0000C0;
	font-size: 80%;
}

.reference
{
	font-size:70%;
}