@page
@model rylogic.co.nz.Pages.AllKeys.AllKeysModel
@{
    ViewData["Title"] = "All Keys";
}

<div>
    <img class="feature-graphics" src="~/images/allkeys/feature-graphic.png" alt="All Keys Feature Graphics">
</div>

<div>
    <h3>All Keys</h3>
    <p>
        All Keys is the ultimate practice tool for intermediate and advanced jazz musicians!
        This app is designed to help you improve your chord voicings and improvisation skills
        in all 12 keys. Reduce your reaction time by pushing up the tempo!
    </p>
</div>

<div class="features">
    <h3>Key Features</h3>
    <ul>
        <li>Random key/chord generator with equal representation of all keys.</li>
        <li>Optional backing bass lines and piano accompaniment.</li>
        <li>Configurable rate of chords and types of chords/keys to display.</li>
        <li>Metronome with customizable click sounds.</li>
        <li>Intuitive and user-friendly interface.</li>
    </ul>
</div>

<div class="download_buttons">
    <a href="@Model.DownloadUrl">
        <b>Download Now</b>
        <p>@Model.DownloadFile (@Model.DownloadSize)</p>
    </a>
</div>

<div>
    <p>
        For source code, check out my <a href="https://github.com/psryland/rylogic_code/tree/main/projects/apps/AllKeys">GitHub Repository</a>
    </p>
</div>