<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RyLogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Rylogic_Log_Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RyLogViewer.Properties.Settings>
            <setting name="RecentFiles" serializeAs="String">
                <value/>
            </setting>
            <setting name="WatchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ColDelimiter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlternateLineColours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineBackColour1" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="LineBackColour2" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="LineSelectBackColour" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="LineSelectForeColour" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineForeColour1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LineForeColour2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="HighlightPatterns" serializeAs="String">
                <value>&lt;root/&gt;</value>
            </setting>
            <setting name="FilterPatterns" serializeAs="String">
                <value>&lt;root/&gt;</value>
            </setting>
            <setting name="LastLoadedFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="RestoreScreenLoc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadLastFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenPosition" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="MenuPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolsPosition" serializeAs="String">
                <value>0, 30</value>
            </setting>
            <setting name="StatusPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowTOTD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightPatternSets" serializeAs="String">
                <value>&lt;root/&gt;</value>
            </setting>
            <setting name="FilterPatternSets" serializeAs="String">
                <value>&lt;root/&gt;</value>
            </setting>
            <setting name="RowDelimiter" serializeAs="String">
                <value>
                </value>
            </setting>
        </RyLogViewer.Properties.Settings>
        <Rylogic_Log_Viewer.Properties.Settings>
            <setting name="RecentFiles" serializeAs="String">
                <value/>
            </setting>
            <setting name="WatchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RowDelimiter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ColDelimiter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlternateLineColours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineBackColour1" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="LineBackColour2" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="LineSelectBackColour" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="LineSelectForeColour" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineForeColour1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LineForeColour2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="HighlightPatterns" serializeAs="String">
                <value/>
            </setting>
            <setting name="FilterPatterns" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastLoadedFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="RestoreScreenLoc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadLastFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenPosition" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
        </Rylogic_Log_Viewer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
