// Shader source files for runtime compilation
TERRAIN_CBUF_HLSLI TEXT    DISCARDABLE     "src/world/terrain/shaders/terrain_cbuf.hlsli"
TERRAIN_HLSL       TEXT    DISCARDABLE     "src/world/terrain/shaders/terrain.hlsl"
