@page
@model www.Pages.TextAligner.TextAlignerModel
@{
    ViewData["Title"] = "Text Aligner";
}

<img class="feature-graphics" src="~/images/textaligner/screen-shot-0.png" alt="Text Aligner Feature Graphics">

<h3>Text Aligner Extension</h3>
<p>
    Text Aligning extension for Visual Studio.
</p>

<div class="features">
    <h3>Key Features</h3>
    <ul>
        <li>.</li>
    </ul>
</div>

<div class="download_buttons">
    <a href="~/files/textaligner/Rylogic.TextAligner.2022.v1.11.7.vsix" class="button">Download Now (VS 2022)</a>
    <span>Rylogic.TextAligner.2022.v1.11.7.vsix (@Model.DownloadSize) </span>
</div>

<div class="download_buttons">
    <a href="~/files/textaligner/Rylogic.TextAligner.2019.v1.11.7.vsix" class="button">Download Now (VS 2019)</a>
    <span>Rylogic.TextAligner.2019.v1.11.7.vsix (@Model.DownloadSize) </span>
</div>